/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: black;
	z-index: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}
/*************** CODE STARTS HERE ************************/

body {
	text-align: center;
	font-family: 'Playfair Display', serif;

/*	background-image: url("resources/bg_ComingSoon2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
}

.bg_image::before {
	z-index: -1;
	content: "";
  /* The image used */
	background-image: url("resources/bg_ComingSoon1.jpg");

  /* Position and size setup */
	position: absolute;
  background-position: center;
	top: 0;
	left: 0;
/*	width: auto;*/
	width: 100vw;
	height: 100%;
	/*height: 100vh;*/
	/*max-height: 100%;*/

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* Add the blur effect */
/*  filter: blur(3px);
  -webkit-filter: blur(3px);
  backdrop-filter: blur(3px);*/

  filter: opacity(40%);
  -webkit-filter: opacity(40%);
  backdrop-filter: opacity(40%);
}


#coming_soon {
	margin-top: 7vh;
}
#coming_soon > p {
	text-align: center;
	color: #E3BD82;
	font-size: 6vh;
}


#splash_logo > img {
	width: 70vh;
	max-width: 100%;
	padding: 0;
	margin: 0;
}


#links > ul {
	display: inline-block;
	list-style-type: none;
	padding: 0;

	text-align: center;
  list-style: inside;

  width: 70%;
  margin: auto;
	margin-top: -3vh;
}
#links > ul > li {
  display: inline-block;

  padding: 2vh;
/*  margin-left: 8vh;*/
}
#links > ul > li > a > img {
	height: 7vh;
	width: 7vh;
}


footer > #pb_tag > p {
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 1vh;
	font-family: 'Didact Gothic', sans-serif;
	color: white;
	opacity: 8.6%;
}
footer > #pb_tag > p > a {
	color: #FF0000;
}